* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, white 0, #dedede 100%);
  min-height: 100vh;
  height: 100%;
}

#root {
  height: 100%;
}

.grid__container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 5rem;
  min-height: 100vh;
  height: 100%;
}

header {
  grid-area: header;
  padding: 10px 2.1rem;
  width: 95%;
  position: fixed;
  z-index: 300;
}

@media (min-width: 1440px) {
  header {
    width: 97%;
  }
}
@media (min-width: 2560px) {
  header {
    width: 98%;
  }
}
.show {
  transition: 200ms all ease;
  background: rgb(231, 231, 231);
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.315);
}

main {
  grid-area: main;
  overflow-x: hidden;
}

footer {
  grid-area: footer;
  margin-top: -30px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #3a489e;
}

h2 {
  font-size: 18px;
}

select {
  padding: 5px;
  border-radius: 5px;
  border: 1px #a4a4a4 solid;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "quicksand";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select:hover {
  border: 1px solid #404040;
}

@media (min-width: 1440px) {
  select {
    font-size: 20px;
  }
}
@media (min-width: 2560px) {
  select {
    padding: 7px 15px;
    font-size: 35px;
  }
}
.no-arrow {
  -moz-appearance: textfield;
}
.no-arrow::-webkit-inner-spin-button {
  display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating p {
  margin: 0 5px;
}

.rating {
  display: flex;
  align-items: center;
}
.rating__reviews {
  margin-left: 5px;
}

@media (min-width: 1440px) {
  .rating span {
    font-size: 20px;
  }

  .rating p {
    font-size: 20px;
  }
}
@media (min-width: 2560px) {
  .rating span {
    font-size: 40px;
  }

  .rating p {
    font-size: 40px;
  }
}

/* alert */
.success {
  color: #20a020;
}

.success-table {
  color: #79ff79;
}

.danger {
  color: #a02020;
}

.danger-table {
  color: #fc2841;
}

.dangerInput {
  display: flex;
  align-items: center;
  color: #a02020;
  margin-bottom: 10px;
}
.dangerInput > .MuiSvgIcon-root {
  margin-right: 5px;
}

@media (min-width: 2560px) {
  .dangerInput > .MuiSvgIcon-root {
    font-size: 35px;
  }
}

.auth__error {
  border: 1px solid #a02020 !important;
  margin-bottom: 0px !important;
  color: #a02020;
}

.auth__errorHead {
  color: #a02020;
}

.alert {
  margin-top: 5px;
  padding: 10px;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert__info {
  color: #2020a0;
  background: #c7c7ff;
}

.alert__danger {
  margin-top: 5px;
  color: #a02020;
  background: #ffe0e0e0;
  padding: 10px;
}

.alert__dangerHistory {
  margin: 5px 10px 5px 0;
  color: #a02020;
  background: #ffe0e0e0;
  padding: 10px;
  font-size: 14px;
}

.alert__success {
  margin-top: 5px;
  padding: 10px;
  color: #20a020;
  background: #eeffe0;
}

@media (max-width: 425px) {
  .dangerInput > .MuiSvgIcon-root {
    font-size: 15px;
  }
  .alert__success {
    font-size: 14px;
  }
  .alert__info {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .alert__info {
    font-size: 20px;
    padding: 1rem;
    border-radius: 15px;
  }
  .alert__dangerHistory {
    padding: 1rem;
    font-size: 20px;
    border-radius: 15px;
  }
  .alert__success {
    padding: 1rem;
    font-size: 20px;
    border-radius: 15px;
  }
  .alert__danger {
    padding: 1rem;
    font-size: 20px;
    border-radius: 15px;
  }
}
@media (min-width: 2560px) {
  .alert__info {
    font-size: 30px;
    padding: 2rem;
    border-radius: 20px;
  }
  .alert__dangerHistory {
    width: 400px;
    margin: 5px 10px 5px 0;
    padding: 2rem;
    font-size: 30px;
    border-radius: 20px;
  }

  .alert__success {
    width: 400px;
    padding: 2rem;
    font-size: 30px;
    border-radius: 20px;
  }

  .alert__danger {
    margin-top: 60px;
    font-size: 30px;
    padding: 2rem;
    border-radius: 20px;
  }
}

.loading {
  display: block !important;
}

.back {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-family: "quicksand";
  font-size: 14px;
  margin-bottom: 10px;
}

.active {
  font-weight: bold;
}

/* Map */
.full-container {
  height: 100%;
}

.map-input-box {
  position: absolute;
  left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
  height: 40px;
  display: flex;
}
.map-input-box input {
  border-radius: 10px 0 0 10px;
  border-right: 0;
  width: 400px;
  outline: none;
  padding: 10px;
  border: 1px solid gray;
}
.map-input-box button {
  border-radius: 0 10px 10px 0;
  border-left: 0;
  background: #1a3c65;
  outline: none;
  width: 90px;
  border: none;
  cursor: pointer;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  color: #1a3c65;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  border: none;
  margin: 10px 5px;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0px 5px 10px rgba(26, 60, 101, 0.282);
  background: white;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 10px;
  font-size: 16px;
  width: 30px;
  height: 30px;
  background: white;
  color: #1a3c65;
  box-shadow: 0px 5px 10px rgba(26, 60, 101, 0.282);
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pagination a:hover {
  color: white;
  background: #1a3c65;
}

.pagination a.active {
  font-weight: bold;
  background: #1a3c65;
  color: white;
}

.form-input-list {
  max-width: 900px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
  align-items: center;
  background: white;
  padding: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.input-list {
  width: 100%;
  border: none;
  padding: 5px;
  outline: none;
  border-radius: 0px 10px 10px 0px;
}
