.home {
  position: relative;
  z-index: 11;
  scroll-behavior: smooth;
}

.home__product {
  display: flex;
  align-items: center;
  overflow-x: auto;
  margin-left: 2rem;
  padding: 25px;
  scroll-behavior: smooth;
}

.home__product::-webkit-scrollbar {
  display: none;
}

.home__product::-moz-scrollbar {
  display: none;
}

/* .home__content {
  padding: 3rem 1rem;
  display: flex;
} */


@media (min-width: 2000px){
  .home__product {
    margin-left: 10rem;
  }
}