.stepper {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "quicksand";
}

.stepper__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepper__rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
  background: #c0c0c0;
  margin-bottom: 5px;
  color: white;
  border-radius: 50%;
}

.stepper__line {
  width: 100px;
  height: 5px;
  margin-top: -5px;
  background: #c0c0c0;
}

.stepper__line.active {
  background: #1a3c65;
}

.stepper__rounded.active {
  background: #1a3c65;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  color: white;
  border-radius: 50%;
}

.stepper__textOne {
  margin-left: -12px;
}

.stepper__textTwo {
  margin-left: -17px;
}

.stepper__textThree {
  margin-left: -20px;
}

.stepper__textFour {
  margin-left: -30px;
}

.stepper__textFive {
  margin-left: -38px;
}

@media (max-width: 425px) {
  .stepper__line {
    width: 30px !important;
    height: 5px;
  }
  .stepper__textOne {
    display: none;
  }

  .stepper__textTwo {
    display: none;
  }

  .stepper__textThree {
    display: none;
  }

  .stepper__textFour {
    display: none;
  }

  .stepper__textFive {
    display: none;
  }
}

@media (max-width: 550px) {
  .stepper {
    margin-left: -1rem !important;
  }
}

@media (max-width: 768px) {
  .stepper {
    padding-left: 1rem;
  }
  .stepper__line {
    width: 70px;
    height: 5px;
  }
  .stepper__textOne {
    font-size: 14px;
    margin-left: -10px;
  }

  .stepper__textTwo {
    font-size: 14px;
    margin-left: -17px;
  }

  .stepper__textThree {
    font-size: 14px;
    margin-left: -20px;
  }

  .stepper__textFour {
    font-size: 14px;
    margin-left: -30px;
  }

  .stepper__textFive {
    font-size: 14px;
    margin-left: -28px;
  }
}

@media (min-width: 1440px) {
  .stepper__rounded {
    font-size: 14px;
    width: 22px;
    height: 22px;
  }

  .stepper__line {
    width: 100px;
    height: 5px;
  }

  .stepper__rounded.active {
    font-size: 16px;
    width: 22px;
    height: 22px;
  }

  .stepper__textOne {
    font-size: 16px;
    margin-left: -15px;
  }

  .stepper__textTwo {
    font-size: 16px;
    margin-left: -20px;
  }

  .stepper__textThree {
    font-size: 16px;
    margin-left: -25px;
  }

  .stepper__textFour {
    font-size: 16px;
    margin-left: -35px;
  }

  .stepper__textFive {
    font-size: 16px;
    margin-left: -35px;
  }
}

@media (min-width: 2560px) {
  .stepper__rounded {
    font-size: 23px;
    width: 38px;
    height: 38px;
  }

  .stepper__line {
    width: 200px;
    height: 8px;
  }

  .stepper__rounded.active {
    font-size: 23px;
    width: 38px;
    height: 38px;
  }

  .stepper__textOne {
    font-size: 30px;
    margin-left: -37px;
  }

  .stepper__textTwo {
    font-size: 30px;
    margin-left: -27px;
  }

  .stepper__textThree {
    font-size: 30px;
    margin-left: -35px;
  }

  .stepper__textFour {
    font-size: 30px;
    margin-left: -50px;
  }

  .stepper__textFive {
    font-size: 30px;
    margin-left: -62px;
  }
}
