.jumbotron {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  height: 80vh;
  padding: 2rem;
  margin-left: 2rem;
  box-sizing: border-box;
  z-index: 12;
  scroll-behavior: smooth;
}

.jumbotron h1 {
  font-weight: bolder;
  font-size: 3rem;
  color: #0e1828;
  font-family: "rubik", sans-serif;
}

.jumbotron__body {
  max-width: 400px;
  font-family: "poppins", sans-serif;
}

.jumbotron__bodySubTitle {
  font-size: 1.2rem;
  color: #112a52;
  margin-top: 15px;

  font-weight: bolder;
}

.jumbotron__bodyText {
  color: #575656;
  font-size: 15px;
  margin: 15px 0;
}

.jumbotron__btnContainer {
  display: flex;
}

.jumbotron__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 35px;
  margin-right: 1rem;
  color: white;
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bolder;
  font-family: "Quicksand", sans-serif;
  box-shadow: 5px 10px 20px rgba(26, 60, 101, 0.3);
  background: linear-gradient(75deg, #1a3c65, #3a489e);
}

.last {
  color: #112a53;
  background: white;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
}

.jumbotron__imageMain {
  max-width: 600px;
  width: 100%;
  position: absolute;
  top: 0rem;
  right: -4rem;
  z-index: -1;
}

.jumbotron__image {
  display: none;
}

.jumbotron__leaves {
  position: absolute;
  z-index: 101;
  right: 10px;
  max-width: 300px;
  width: 100%;
  object-fit: contain;
}

.jumbotron__leavesTwo {
  display: none;
}

@media (max-width: 1060px) {
  .jumbotron__imageMain {
    max-width: 450px;
    width: 100%;
    position: absolute;
    top: 3rem;
    right: -4rem;
    z-index: 100;
  }
}
@media (max-width: 850px) {
  .jumbotron {
    flex-direction: column;
    margin-bottom: 300px;
  }

  .jumbotron__imageMain {
    display: none;
  }

  .jumbotron__leaves {
    display: none;
  }
  .jumbotron__image {
    display: block;
  }
  .jumbotron__leavesTwo {
    display: block;
    position: absolute;
    top: 28rem;
    left: 55%;
    transform: translateX(-55%);
    max-width: 350px;
    width: 100%;
    object-fit: contain;
  }
}

@media (min-width: 1440px) {
  .jumbotron {
    margin-bottom: 150px;
  }
  .jumbotron h1 {
    font-weight: bolder;
    color: #0e1828;
  }
  .jumbotron__body {
    max-width: 450px;
  }

  .jumbotron__bodyText {
    font-size: 1rem;
  }

  .jumbotron__btn {
    width: 160px;
    height: 40px;
    font-size: 0.9rem;
    border-radius: 20px;
  }

  .jumbotron__btn > .MuiSvgIcon-root {
    font-size: 25px;
  }

  .jumbotron__imageMain {
    width: 100%;
    position: absolute;
    right: -4rem;
    z-index: 100;
  }
}
@media (min-width: 2000px) {
  .jumbotron {
    padding: 6rem;
    margin-top: 2rem;
  }

  .jumbotron h1 {
    font-weight: bolder;
    font-size: 4.5rem;
    color: #0e1828;
  }
  .jumbotron__body {
    max-width: 800px;
  }

  .jumbotron__bodySubTitle {
    font-size: 2.25rem;
  }

  .jumbotron__bodyText {
    font-size: 1.8rem;
    margin-bottom: 50px;
  }

  .jumbotron__btn {
    width: 300px;
    height: 75px;
    border-radius: 40px;
    margin-right: 40px;
    font-size: 1.6rem;
  }

  .jumbotron__btn > .MuiSvgIcon-root {
    font-size: 45px;
  }

  .jumbotron__imageMain {
    max-width: 1000px;
    width: 100%;
    position: absolute;
    right: -4rem;
    z-index: 100;
  }

  .jumbotron__leaves {
    max-width: 550px;
  }
}

@media (max-width: 768px) {
  .jumbotron h1 {
    font-weight: bolder;
    font-size: 2rem;
    color: #0e1828;
  }
  .jumbotron__bodySubTitle {
    font-size: 1.1rem;
  }
  .jumbotron__bodyText {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  .jumbotron {
    margin-top: 1rem;
  }

  .jumbotron h1 {
    font-weight: bolder;
    font-size: 2.5rem;
    color: #0e1828;
  }
  .jumbotron__body {
    max-width: 350px;
  }

  .jumbotron__bodySubTitle {
    font-size: 1rem;
  }

  .jumbotron__bodyText {
    font-size: 14px;
  }
  .jumbotron__btn {
    width: 130px;
  }
}

@media (max-width: 320px) {
  .jumbotron h1 {
    font-weight: bolder;
    font-size: 1.8rem;
    color: #0e1828;
  }
  .jumbotron__body {
    max-width: 250px;
  }

  .jumbotron__bodySubTitle {
    font-size: 16px;
  }

  .jumbotron__bodyText {
    font-size: 14px;
  }

  .jumbotron__btn {
    width: 110px;
    font-size: 12px;
  }
  .jumbotron__btn > .MuiSvgIcon-root {
    font-size: 16px;
  }

  .jumbotron__leavesTwo {
    display: block;
    position: absolute;
    top: 28rem;
    left: 55%;
    transform: translateX(-50%);
    max-width: 350px;
    width: 100%;
    object-fit: contain;
  }
}
