.shipping {
  padding: 2rem;
  box-sizing: border-box;
}
.shipping__container {
  box-sizing: border-box;
  background: white;
  display: flex;
  width: 100%;
  margin: 30px auto;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 50px;
}

.shipping__container h1 {
  font-weight: 500;
  margin-bottom: 20px;
  font-weight: 700;
}

.shipping__container label {
  font-size: 18px;
}

.shipping__container form input {
  width: 98%;
  height: 45px;
  margin: 5px 0 10px 0;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  font-family: "Quicksand", sans-serif;
  border: 1px solid rgb(218, 218, 218);
  text-indent: 5px;
}

.shipping__btn {
  width: 100%;
  height: 35px;
  color: white;
  border-radius: 30px;
  background: #1a3c65;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  border: none;
  margin: 10px 0;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
  box-shadow: 0px 5px 10px rgba(26, 60, 101, 0.282);
}

.shipping_btnMap {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  margin-left: 10px;
  cursor: pointer;
  color: white;
  background: #1a3c65;
}

@media (max-width: 768px) {
  .shipping__container h1 {
    font-size: 28px;
  }
  .shipping__container label {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .shipping__container h1 {
    font-size: 25px;
  }

  .shipping__container label {
    font-size: 15px;
  }

  .shipping__container form input {
    font-size: 15px;
    height: 40px;
  }
}

@media (max-width: 320px) {
  .shipping__container h1 {
    font-size: 22px;
  }

  .shipping__container label {
    font-size: 14px;
  }

  .shipping__container form input {
    font-size: 14px;
    height: 30px;
  }
}

@media (min-width: 1440px) {
  .shipping {
    padding: 3rem;
  }

  .shipping__container label {
    font-size: 18px;
  }

  .shipping__container form input {
    font-size: 18px;
  }
  .shipping_btnMap {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
  }
  .shipping__btn {
    height: 35px;
    font-size: 16px;
  }
}

@media (min-width: 2560px) {
  .shipping {
    padding: 5rem;
    margin-top: 4rem;
  }

  .shipping__container {
    padding: 3rem;
    margin-top: 5rem;
    border-radius: 40px;
  }

  .shipping__container h1 {
    font-size: 50px;
  }
  .shipping__container label {
    font-size: 32px;
  }

  .shipping__container form input {
    font-size: 32px;
    height: 75px;
    border-radius: 6px;
    text-indent: 15px;
  }
  .shipping_btnMap {
    width: 220px;
    height: 60px;
    border-radius: 15px;
    font-size: 32px;
  }

  .shipping__btn {
    margin-top: 30px;
    height: 60px;
    font-size: 25px;
  }
}
