.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  font-family: "Quicksand", sans-serif;
}
.header img {
  max-width: 170px;
}

.header__left {
  display: flex;
}

.header__items {
  display: flex;
  align-items: center;
  color: #1a3c65;
}

.header__items strong {
  font-size: 1rem;
  margin-right: 5px;
}

.header__links {
  margin-left: 2rem;
  font-weight: 500;
  font-size: 0.9rem;
}

.header__links:hover {
  font-weight: bold;
}

.header__cart {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.header__cartInput {
  padding: 0 5px;
  background: white;
  display: flex;
  border-radius: 10px 0 0 10px;
}

.header__searchBtn {
  padding: 3px 10px 0 0;
  color: #1a3c65;
}

.header__cartInput input {
  border: none;
  font-family: "Quicksand", sans-serif;
  outline: none;
  width: 100%;
}

.header__cartBtnContainer {
  position: relative;
}

.header__cartBtn {
  color: #1a3c65;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  width: 30px;
  height: 31px;
  border-left: 1px solid rgb(224, 224, 224);
}

.header__cartNumber {
  position: absolute;
  right: -2px;
  top: -6px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  border-radius: 50%;
  font-weight: bold;
  background: #1a3c65;
  font-family: "quicksand";
}

.hide {
  display: none;
}

.header__btn {
  width: 100px;
  height: 35px;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
  font-family: "Quicksand", sans-serif;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
  background: linear-gradient(75deg, #1a3c65, #3a489e);
}

.header__userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__userProfile p {
  margin-left: 5px;
  color: #1a3c65;
  font-weight: 600;
}

.header__userProfile:hover {
  cursor: pointer;
}

.header__userProfileDropdown {
  display: inline-block;
  color: gray;
  margin-left: 5px;
}

.header__dropdownContent {
  display: none;
  position: absolute;
  min-width: 150px;
  top: 45px;
  left: 99%;
  transform: translateX(-99%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
  background: white;
  font-size: 14px;
  z-index: 200;
}

.header__dropdownContent.admin {
  width: 300px;
  top: 45px;
  left: 99%;
  transform: translateX(-99%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
  background: white;
  font-size: 14px;
  z-index: 200;
}

.header__dropdownContent.admin-seller {
  width: 450px;
  top: 45px;
  left: 99%;
  transform: translateX(-99%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
  background: white;
  font-size: 14px;
  z-index: 200;
}

.header__dropdownContent li {
  padding: 5px 20px 8px 10px;
  cursor: pointer;
  margin: 5px 0;
}
.header__dropdownContent li:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.header__dropdownContent li a {
  font-weight: bolder;
  color: #1a3c65;
}

.header__dropdownContent li a:hover {
  font-weight: bolder;
  color: #1a3c65;
}

.header__userProfileDropdown:hover .header__dropdownContent {
  display: flex;
  justify-content: center;
}

.header__photo {
  width: 30px !important;
  height: 30px !important;
}

.header__userProfileMobile {
  display: none;
}

.header__responsive {
  display: none;
}

.header__cartBtnContainer.responsive {
  display: none;
}

.header__profileDetails {
  display: flex;
  align-items: center;
}

.header__linksShop,
.header__cartInput.responsive {
  display: none;
}

/* tablet */
@media (max-width: 768px) {
  .header__links {
    margin-left: 2rem;
    font-weight: 500;
    font-size: 12px;
  }

  .header img {
    max-width: 120px;
  }

  .header__userProfile,
  .header__cart {
    display: none;
  }

  .header__userProfileMobile {
    display: flex;
    margin-right: 20px;
  }

  .header__userProfileDropdown {
    display: inline-block;
    color: gray;
    margin-left: 5px;
  }
  .header__dropdownContent {
    display: none;
    position: absolute;
    width: 100%;
    margin-left: -20px;
    font-size: 14px;
  }

  .header__dropdownContent.admin {
    width: 100%;
    margin-left: -20px;
    font-size: 14px;
  }

  .header__dropdownContent.admin-seller {
    width: 100%;
    margin-left: -20px;
    font-size: 14px;
  }

  .header__responsive {
    display: flex;
  }

  .header__navSeller {
    display: none;
  }

  .header__cartBtnContainer.responsive {
    display: flex;
  }
  .header__cartBtnContainer.responsive .header__cartNumber {
    right: 4px;
  }
  .header__cartBtnContainer.responsive .header__cartBtn {
    background: transparent;
    margin-right: 10px;
  }
  .header__cartInput.responsive {
    display: flex;
    margin-bottom: 20px;
  }

  .header__btn {
    margin-right: 20px;
  }
}

@media (max-width: 425px) {
  .header__userProfileMobile {
    display: flex;
    margin-right: 30px;
  }

  .header__links {
    display: none;
  }

  .header__linksShop {
    display: block;
  }

  .header__btn {
    width: 90px;
    height: 30px;
    font-size: 12px;
    margin-right: 30px;
  }
}

@media (min-width: 1440px) {
  .header__links {
    margin-left: 1rem;
    font-weight: 500;
    font-size: 16px;
  }

  .header img {
    padding: 5px;
  }

  .header__cartInput {
    padding: 0 5px;
    width: 180px;
    background: white;
    display: flex;
    border-radius: 10px 0 0 10px;
  }

  .header__searchBtn {
    padding: 3px 10px 0 0;
    color: #1a3c65;
  }


  .header__cartBtn {
    width: 50px;
  }

  .header__cartBtn a > .MuiSvgIcon-root {
    font-size: 22px;
  }

  .header__cartNumber {
    right: -2px;
    top: -8px;
    width: 20px;
    height: 20px;
    font-size: 12px;
  }

  .header__items {
    align-items: center;
  }

  .header__userProfile p {
    margin-left: 10px;
  }

  .header__photo {
    width: 35px !important;
    height: 35px !important;
  }

  .header__userProfile:hover {
    cursor: pointer;
  }

  .header__userProfileDropdown {
    margin-left: 5px;
  }
  
  .header__dropdownContent {
    min-width: 200px;
    top: 50px;
    left: 97%;
    transform: translateX(-97%);
    font-size: 16px;
  }

  .header__dropdownContent.admin {
    width: 400px;
    top: 50px;
    left: 96%;
    transform: translateX(-97%);
    font-size: 16px;
  }

  .header__dropdownContent.admin-seller {
    width: 500px;
    top: 50px;
    left: 97%;
    transform: translateX(-97%);
    font-size: 16px;
  }
  .header__btn {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
}
@media (min-width: 2000px) {
  .header__links {
    margin-left: 2rem;
    font-weight: 500;
    font-size: 28px;
  }

  .header img {
    padding: 15px;
    max-width: 300px;
  }

  .header__cartInput {
    padding: 0 5px;
    width: 350px;
    height: 60px;
    background: white;
    display: flex;
    border-radius: 20px 0 0 20px;
  }

  .header__searchBtn {
    padding: 3px 10px 0 0;
    color: #1a3c65;
  }

  .header__cartInput input {
    font-size: 25px;
  }
  .header__cartInput label > .MuiSvgIcon-root {
    font-size: 45px;
  }

  .header__cartBtn {
    width: 80px;
    height: 60px;
    border-radius: 0 20px 20px 0;
  }

  .header__cartBtn a > .MuiSvgIcon-root {
    font-size: 40px;
  }

  .header__cartNumber {
    right: -2px;
    top: -12px;
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .header__items {
    display: flex;
    align-items: center;
  }

  .header__userProfile p {
    margin-left: 15px;
    font-size: 30px;
  }

  .header__photo {
    width: 65px !important;
    height: 65px !important;
  }

  .header__userProfile:hover {
    cursor: pointer;
  }

  .header__userProfileDropdown {
    margin-left: 5px;
    padding: 15px;
  }

  .header__dropdownContent {
    min-width: 300px;
    top: 90px;
    left: 7%;
    transform: translateX(-7%);
    font-size: 30px;
    padding: 1rem;
  }

  .header__dropdownContent.admin {
    width: 600px;
    top: 90px;
    left: 97%;
    transform: translateX(-97%);
    border-radius: 20px;
    font-size: 30px;
    padding: 1rem;
  }

  .header__dropdownContent.admin-seller {
    width: 800px;
    top: 90px;
    font-size: 30px;
    left: 97%;
    transform: translateX(-97%);
    border-radius: 20px;
    padding: 1rem;
  }

  .header__btn {
    width: 200px;
    height: 70px;
    font-size: 28px;
    border-radius: 20px;
  }
}
