.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-family: "Quicksand", sans-serif;
}
.header img {
  max-width: 170px;
}

.header__left {
  display: flex;
}

.header__items {
  display: flex;
  align-items: center;
  color: #1a3c65;
}

.header__items strong {
  font-size: 1rem;
  margin-right: 5px;
}

.header__links {
  margin-left: 2rem;
  font-weight: 500;
  font-size: 0.9rem;
}

.header__links:hover {
  font-weight: bold;
}

.header__cart {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.header__cartInput {
  padding: 0 5px;
  background: white;
  display: flex;
  border-radius: 10px 0 0 10px;
}

.header__searchBtn {
  padding: 3px 10px 0 0;
  color: #1a3c65;
}

.header__cartInput input {
  border: none;
  font-family: "Quicksand", sans-serif;
  outline: none;
  width: 100%;
}

.header__cartBtnContainer {
  position: relative;
}

.header__cartBtn {
  color: #1a3c65;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  width: 30px;
  height: 31px;
  border-left: 1px solid rgb(224, 224, 224);
}

.header__cartNumber {
  position: absolute;
  right: -2px;
  top: -6px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  border-radius: 50%;
  font-weight: bold;
  background: #1a3c65;
  font-family: "quicksand";
}

.hide {
  display: none;
}

.header__btn {
  width: 100px;
  height: 35px;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
  font-family: "Quicksand", sans-serif;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
  background: linear-gradient(75deg, #1a3c65, #3a489e);
}

.header__userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__userProfile p {
  margin-left: 5px;
  color: #1a3c65;
  font-weight: 600;
}

.header__userProfile:hover {
  cursor: pointer;
}

.header__userProfileDropdown {
  display: inline-block;
  color: gray;
  margin-left: 5px;
}
.header__dropdownContent {
  display: none;
  position: absolute;
  min-width: 150px;
  top: 45px;
  left: 99%;
  transform: translateX(-99%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
  background: white;
  font-size: 14px;
  z-index: 200;
}

.header__dropdownContent.admin {
  width: 280px;
  top: 45px;
  left: 99%;
  transform: translateX(-99%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
  background: white;
  font-size: 14px;
  z-index: 200;
}

.header__dropdownContent.admin-seller {
  width: 450px;
  top: 45px;
  left: 99%;
  transform: translateX(-99%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
  background: white;
  font-size: 14px;
  z-index: 200;
}

.header__dropdownContent li {
  padding: 5px 20px 8px 10px;
  cursor: pointer;
  margin: 5px 0;
}
.header__dropdownContent li:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.header__dropdownContent li a {
  font-weight: bolder;
  color: #1a3c65;
}

.header__dropdownContent li a:hover {
  font-weight: bolder;
  color: #1a3c65;
}

.header__userProfileDropdown:hover .header__dropdownContent {
  display: flex;
  justify-content: center;
}
