
.productEdit__container {
  background: white;
  display: flex;
  max-width: 60rem;
  width: 100%;
  margin: 30px auto;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.08);
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 50px;
}

.productEdit__container h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.productEdit__container label {
  font-size: 18px;
}

.productEdit__container form input {
  width: 100%;
  height: 45px;
  margin: 5px 0 10px 0;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  font-family: "Quicksand", sans-serif;
  border: 1px solid rgb(218, 218, 218);
  text-indent: 5px;
}

.productEdit__btn {
  width: 100%;
  height: 35px;
  color: white;
  border-radius: 30px;
  background: #1a3c65;
  font-family: "Quicksand", sans-serif;
  border: none;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 5px 10px rgba(26, 60, 101, 0.282);
}

.productEdit__inputImg {
  width: 200px;
  height: 200px;
}

.productEdit__inputFile {
  border: none !important;
}

.productEdit__inputFile::-webkit-file-upload-button {
  background: #3a489e;
  border: none;
  color: white;
  cursor: pointer;
  width: 120px;
  height: 40px;
  font-family: "quicksand";
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0px 5px 10px rgba(58, 71, 158, 0.1);
}

.productEdit__inputFile::-webkit-file-upload-button:hover {
  background: #2b3ba3;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.productEdit__inputNumber {
  width: 100%;
  display: flex;
}

.productEdit__inputPrice {
  flex: 0.5;
  margin-right: 10px;
}

.productEdit__inputStock {
  flex: 0.5;
}
